@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../public/background.png);
    background-size: contain;
    background-position: center;
}

@theme{
    --color-main: #0A0A0A;
    --color-form-bg: #121212;
    --color-primary-text: #FFFFFF;
    --color-secondary-text: #8E8E93;
    --color-btn: #007AFF;
    --color-input: #0D0D0D;
    --color-input-border: #2C3C58;
    --social-btn: #1C1C1E;
}


.shadow-glow {
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.1),
                inset -3px -3px 4px rgba(0, 0, 0, 0.2),
                5px 5px 5px rgba(0, 0, 0, 0.5)
}
.shadow-button {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1),
                inset -2px -2px 2px rgba(0, 0, 0, 0.2),
                2px 2px 2px rgba(0, 0, 0, 0.5)
}
.inputbox-shadow {
    box-shadow: inset -2px -2px 2px rgb(255, 255, 255,0.1)
}
.button {
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5),
                inset -3px -3px 3px rgba(0, 0, 0, 0.5),
                2px 2px 2px rgba(0, 0, 0, 0.5)
}

